
  h1 {
    text-align: center;
    margin-bottom: 150px;        /* Space below h1 */
  }
  .button-group {
    display: flex;
    gap: 10px;                  /* Space between buttons */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;         /* Rounded corners */
    cursor: pointer;

  }

  
/* Main page layout */
.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  padding-top: 100px; /* Space to account for fixed navbar */
  background-color: #121212;
  text-align: center;
}

/* Styling for the title */
.main-page h1 {
  font-size: calc(2rem + 2vw);
  margin-bottom: 2rem;
  color: #ffcc00;
}

/* Button group styling */
.button-group {
  display: flex;
  gap: 10px;
}

button[mat-raised-button] {
  background-color: #2c2c2c;
  color: #ffcc00; 
}
  